{% extends "layout.html" %}
{% block content %}
<div class="content-section" id=conents_section>
    <form method="POST" action="/newcase2">
        {{ form.hidden_tag() }}
        <div class="form-group" id='input1'>
            {{ form.program_select.label(class="form-control-label") }} {{ form.program_select }}
        </div>
        <div class="form-group" id='input2'>
            {{ form.project_select.label(class="form-control-label") }} {{ form.project_select }}
        </div>
        <div class="form-group" id='button_submit'>
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

<script>

    $(document).ready(function () {

        $('#contents_section').click(function () {
            var project_select_data = $('#input1');
            alert(project_select_data.val());
        });

    });

</script>
{% endblock content %}