{% extends "layout.html" %}
{% block content %}
<h1> Programs </h1>
{% for program in programs %}
<article class="media content-section">

  <img class="rounded-circle article-img" ,
    src="{{ url_for('static',filename = 'profile_pics/' + program.creator_program.image_file) }}">
  <div class="media-body">
    <h2><a class="article-title" href="{{ url_for('program', program_id = program.id) }}">{{ program.name }}</a>
    </h2>
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ program.creator_program.username }}</a>
      <small class="text-muted"> Posted {{ program.created_date.strftime('%Y-%m-%d') }}</small>
    </div>

    <p class="article-content">{{ program.description }} </p>
    <span>
      <a href="{{ url_for('update_program', program_id = program.id) }}" style="float:right">Update
      </a>
    </span>


  </div>
</article>
{% endfor %}
{% endblock content %}