{% extends "layout.html" %}
{% block content %}
<h1>{{ program.name }}</h1>
{% for project in projects %}
<article class="media content-section">
  <img class="rounded-circle article-img" ,
    src="{{ url_for('static', filename = 'profile_pics/' + program.creator_program.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ project.creator_project.username }}</a>
      <small class="text-muted"> Created {{ project.created_date.strftime('%Y-%m-%d') }}</small>
    </div>
    <h2><a class="article-title" href="{{ url_for('project', program_id = program.id, project_id = project.id) }}">{{
        project.name }}</a></h2>
    <p class="article-content">{{ project.description }}</p>

    <div class="media-body">

    </div>
  </div>
</article>
{% endfor %}
{% endblock content %}